
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;   
  background: linear-gradient(to right, #74ebd5, #9face6);
}
.card {
  background: white;
  padding: 40px;
  width: 450px;        
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 5px 15px gray;
}


.card h2 {
  color: darkblue;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid gray;

}

button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  background: green;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}
.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  background: #f2f2f2;
}

.result h3 {
  color: #2196f3;
}
