#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;  
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.a{
  color:rgb(230, 225, 229);
}
body {
  background: linear-gradient(to right, aqua, white);
  font-family: Arial, sans-serif;
}

.bmi-container {
  width: 400px;
  margin: 80px auto;
  padding: 25px;
  border-radius: 15px;
  background: white;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.input-box {
  margin: 15px 0;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid white;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #8b8e38;
}

.result-box {
  margin-top: 25px;
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.result-box h3 {
  color: #21f38a;
}

.result-box p {
  font-size: 18px;
}

.navbar {
  width: 500px;       
  height: 60px;
  margin: 30px auto;  
  background-color: white;  
  border-radius: 12px;

  display: flex;             
  justify-content: center; 
  align-items: center;      
  gap: 40px;              
}

.nav-item {
  color: black;
  margin: 0 30px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.nav-item:hover {
  color: red;
}